In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [104]:
# extraindo html
url = 'https://www.basketball-reference.com/teams/CLE/2023_games.html'
r = requests.get(url)
soup = BeautifulSoup(r.text, 'html.parser')

# Extraindo os jogos e o cabeçalho da tabela do html
jogos = soup.find_all('tr')
titulosHTML = soup.find_all('tr')[0]
colunasTitulo = titulosHTML.find_all('th')

In [275]:
# definindo as colunas
columns = ['G','Date','Start (ET)','#','##','Out Home','Opponent', 'W\L', 'OT','Tm','Opp','W','L','Streak','Notes']

In [286]:
# Criando dataframes
df_dados = pd.DataFrame(columns=columns)
df_StatsNBA = pd.DataFrame(columns=columns)

In [287]:

# Armazenando os dados no datraframe
rows = []

# Percorrendo a lista de jogos com for 
for jogo in jogos[1:]:
    # Verificando se a coluna [G] é um numero
    if jogo.findAll('th')[0].get_text().isnumeric():
        # Armazenando o numero do jogo e fazendo append na lista de linhas 
        numGame = jogo.findAll('th')[0].get_text()
        rows.append(numGame)

        # for para percorrer a tabela que contem as estatisticas e armazenando na lista de linhas
        for infoJogo in jogo.findAll('td'):
            rows.append(infoJogo.get_text())

        # adicionando os dados no datafreme
        df_dados[columns] = [rows]
        df_StatsNBA = pd.concat([df_StatsNBA, df_dados])
        rows.clear()
df_StatsNBA = df_StatsNBA.drop(['##', '#', 'Notes'], axis=1)

In [289]:
df_StatsNBA

,G,Date,Start (ET),Out Home,Opponent,W\L,OT,Tm,Opp,W,L,Streak
0,1,"Wed, Oct 19, 2022",7:30p,@,Toronto Raptors,L,,105,108,0,1,L 1
0,2,"Sat, Oct 22, 2022",8:00p,@,Chicago Bulls,W,,128,96,1,1,W 1
0,3,"Sun, Oct 23, 2022",7:00p,,Washington Wizards,W,OT,117,107,2,1,W 2
0,4,"Wed, Oct 26, 2022",7:00p,,Orlando Magic,W,,103,92,3,1,W 3
0,5,"Fri, Oct 28, 2022",7:30p,@,Boston Celtics,W,OT,132,123,4,1,W 4
...,...,...,...,...,...,...,...,...,...,...,...,...
0,1,"Sat, Apr 15, 2023",6:00p,,New York Knicks,L,,97,101,0,1,L 1
0,2,"Tue, Apr 18, 2023",7:30p,,New York Knicks,W,,107,90,1,1,W 1
0,3,"Fri, Apr 21, 2023",8:30p,@,New York Knicks,L,,79,99,1,2,L 1
0,4,"Sun, Apr 23, 2023",1:00p,@,New York Knicks,L,,93,102,1,3,L 2
0,5,"Wed, Apr 26, 2023",7:00p,,New York Knicks,L,,95,106,1,4,L 3