In [69]:
from requests import get
import pandas as pd
from numpy import NaN
from bs4 import BeautifulSoup
from time import sleep
from random import randint

In [70]:
def request_htmL(ano):
    # extraindo html
    url = f'https://www.basketball-reference.com/teams/CLE/{ano}_games.html'
    r = get(url)
    soup = BeautifulSoup(r.text, 'html.parser')
    return soup

In [3]:
# definindo as colunas
columns = ['G','Date','Start (ET)','#','##','Out Home','Opponent', 'W\L', 'OT','Tm','Opp','W','L','Streak','Notes']

In [74]:
# Criando dataframes
df_dados = pd.DataFrame(columns=columns)
df_StatsNBA = pd.DataFrame(columns=columns)

count_anos = 1971
count_anos_fim = 2023

In [75]:

rows = []
count_index = 1


while count_anos <= count_anos_fim:


    # Extraindo os jogos do html
    html = request_htmL(count_anos)
    jogos = html.find_all('tr')

    try:
        for jogo in jogos[1:]:

            # Verificando se a coluna [G] é um numero
            if jogo.findAll('th')[0].get_text().isnumeric():
                
                # Armazenando o numero do jogo e fazendo append na lista de linhas 
                numGame = jogo.findAll('th')[0].get_text()
                rows.append(numGame)

                for infoJogo in jogo.findAll('td'):
                    rows.append(infoJogo.get_text())

                # adicionando os dados no datafreme
                df_dados[columns] = [rows]
                df_StatsNBA = pd.concat([df_StatsNBA, df_dados])
                rows.clear()
    except:
        rows.clear()
        for jogo in jogos[1:]:


            # Verificando se a coluna [G] é um numero
            if jogo.findAll('th')[0].get_text().isnumeric():
                
                # Armazenando o numero do jogo e fazendo append na lista de linhas 
                numGame = jogo.findAll('th')[0].get_text()
                rows.append(numGame)

                # for para percorrer a tabela que contem as estatisticas e armazenando na lista de linhas    
                for infoJogo in jogo.findAll('td'):
                
                    if count_index == 2:
                        
                        rows.append(NaN)
                        rows.append(infoJogo.get_text())
                            
                        count_index+=1
                
                    else:
                        rows.append(infoJogo.get_text())
                        count_index+=1

                count_index = 1

                # Adicionando as Linhas no DataFrame
                df_dados[columns] = [rows]
                df_StatsNBA = pd.concat([df_StatsNBA, df_dados])
                rows.clear()

    count_anos+=1
    sleep(randint(1, 5))

# Retirando colunas desnecessárias 
df_StatsNBA.drop(['##', '#', 'Notes'], axis=1, inplace=True)
df_StatsNBA

,G,Date,Start (ET),Out Home,Opponent,W\L,OT,Tm,Opp,W,L,Streak
0,1,"Wed, Oct 14, 1970",NaN,@,Buffalo Braves,L,,92,107,0,1,L 1
0,2,"Fri, Oct 16, 1970",NaN,@,Portland Trail Blazers,L,,112,115,0,2,L 2
0,3,"Sat, Oct 17, 1970",NaN,@,San Francisco Warriors,L,,108,128,0,3,L 3
0,4,"Tue, Oct 20, 1970",NaN,@,Portland Trail Blazers,L,,98,120,0,4,L 4
0,5,"Thu, Oct 22, 1970",NaN,@,San Diego Rockets,L,,110,140,0,5,L 5
...,...,...,...,...,...,...,...,...,...,...,...,...
0,1,"Sat, Apr 15, 2023",6:00p,,New York Knicks,L,,97,101,0,1,L 1
0,2,"Tue, Apr 18, 2023",7:30p,,New York Knicks,W,,107,90,1,1,W 1
0,3,"Fri, Apr 21, 2023",8:30p,@,New York Knicks,L,,79,99,1,2,L 1
0,4,"Sun, Apr 23, 2023",1:00p,@,New York Knicks,L,,93,102,1,3,L 2
0,5,"Wed, Apr 26, 2023",7:00p,,New York Knicks,L,,95,106,1,4,L 3